.preloader {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(250, 250, 250, 0.4);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}